body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.font-serif {
  font-family: serif;
}
.font-sans-serif {
  font-family: sans-serif;
}
.font-condiment {
  font-family: 'Condiment', cursive;
  font-size: 12pt !important;
}
.font-yesteryear {
  font-family: 'Yesteryear', cursive;
  font-size: 12pt !important;
}
.font-finger-paint {
  font-family: 'Finger Paint', cursive;
  font-size: 12pt !important;
}
.font-alef {
  font-family: 'Alef', sans-serif;
  font-size: 12pt !important;
}
.color-blue {
  color: blue !important;
}
.color-black {
  color: black !important;
}
textarea[ng-model="note.message"] {
  line-height: 1.5;
  font-size: 12pt;
  white-space: pre-wrap;
  //height: 22em;
  padding-top: 0.5;
  padding-bottom: 0.5;
  resize: none;
}
textarea.error {
  border-color: rgb(190, 0, 0);
  color: rgb(190, 0, 0);
}
textarea.error:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(190, 0, 0,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(190, 0, 0,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(190, 0, 0,.6);
}
.error-message {
  visibility: hidden;
  color: rgb(185, 0, 0);
}
textarea.error + .error-message {
  visibility: visible;
}
.preview {
  overflow-y: visible;
  white-space: pre-wrap;
  height: 30em;
}
