.font-serif {
  font-family: serif;
}
.font-sans-serif {
  font-family: sans-serif;
}
.font-condiment {
  font-family: 'Condiment', cursive;
}
.font-yesteryear {
  font-family: 'Yesteryear', cursive;
}
.font-finger-paint {
  font-family: 'Finger Paint', cursive;
}
.font-alef {
  font-family: 'Alef', sans-serif;
}
.preview, textarea[ng-model="note.message"] {
  line-height: 1.5;
  font-size: 1.2em;
  white-space: pre-wrap;
  height: 31em;
}
.preview {
  overflow-y: visible;
  white-space: pre-wrap;
  height: 30em;
}
